h1 {
  text-align: left;
  font-size: 40px;
  margin: 10px 5px 5px 5px;
  font-weight: bold;
}

li {
  list-style: none;
  font-size: 16px;
  margin-left: -25px;
  margin-top: 1px;
  padding: 0;
  text-transform: capitalize;
}

.container {
  max-width: 585px;
  box-sizing: border-box;
  margin: 0 auto;
  margin-top: 15px;
  border: 2px solid rgb(100, 94, 116);
  border-radius: 10px;
  box-shadow: 5px 5px 5px grey;
  font-family: "Nunito", sans-serif;
  background: radial-gradient(
    circle at 10% 20%,
    rgb(215, 223, 252) 0%,
    rgb(255, 255, 255) 0%,
    rgb(215, 223, 252) 84%
  );
}

.forecast {
  margin-top: 25px;
  margin-bottom: 0;
  font-size: 22px;
  font-weight: bold;
  color: rgb(44, 44, 63);
}

.date {
  font-size: 13px;
}

.enter-city,
.search-btn {
  display: inline-block;
  position: relative;
  transition: all 200ms ease-in-out;
}

.enter-city {
  max-width: 250px;
  margin-top: 30px;
  padding: 3px 12px;
  border-radius: 10px;
  border: 1px solid rgb(44, 44, 63);
  background: transparent;
  text-transform: capitalize;
  box-shadow: 2px 2px 2px rgb(44, 44, 63);
}

.enter-city:hover {
  background: white;
}

.search-btn {
  border: transparent;
  background: transparent;
  font-size: 20px;
  cursor: pointer;
}

.search-btn .fa-magnifying-glass {
  color: rgb(103, 103, 134);
}

.search-btn:hover {
  font-size: 25px;
}

.main-forecast-frame {
  border: 1px solid grey;
  width: 548px;
  margin: 0 auto;
  margin-top: 5px;
  background: white;
  padding-top: 20px;
  border-radius: 3px;
  box-shadow: 2px 2px 2px gray;
}

.main-temp {
  text-align: left;
  margin-left: 5px;
  margin-top: -10px;
  font-size: 70px;
  font-weight: 250;
}

.unit {
  font-size: 28px;
  position: relative;
  top: -30px;
  left: -16px;
}

.main-weather-icon canvas {
  display: block;
  margin: 0px auto;
}

.wind-speed {
  text-transform: lowercase;
}

.five-day-forecast {
  color: rgb(29, 97, 136);
  margin-left: 10px;
  font-weight: bold;
}

.card-title {
  font-size: 12px;
  text-align: center;
  font-weight: bold;
  box-shadow: 5px 5px 5px rgb(103, 103, 134);
  text-transform: uppercase;
}

.icons {
  display: block;
  margin: 0 auto;
  margin-left: -12px;
}

.forecast-temp {
  text-align: center;
  word-spacing: 5px;
  font-size: 15px;
}

.FiveDayForecast .forecast-min-temp {
  opacity: 0.7;
  margin-left: 5px;
}

.card {
  box-shadow: 3px 3px 3px gray;
  color: rgb(44, 44, 63);
}

.col-sm-3 {
  flex: 0 0 auto;
  width: 20%;
}

.loader {
  margin-top: 100px;
  margin-bottom: 70px;
  display: flex;
  justify-content: center;
}

@media (max-width: 600px) {
  .App .container {
    width: 90%;
    margin: 0 auto;
    display: block;
  }

  .App .forecast {
    font-size: 25px;
    text-align: center;
  }
  .App .date {
    font-size: 15px;
    text-align: center;
  }

  .enter-city {
    width: 250px;
    height: 40px;
    display: block;
    margin: 0 auto;
    margin-top: 5px;
    margin-bottom: 20px;
  }

  .search-btn {
    display: none;
  }

  .MainForecast .main-forecast-frame {
    width: 98%;
    padding-bottom: 15px;
  }

  .main-forecast-frame .col-sm-4,
  .main-forecast-frame h1 {
    display: flex;
    justify-content: center;
  }

  .main-forecast-frame h1 {
    font-size: 42px;
  }
  .main-weather-icon canvas {
    margin-bottom: 25px;
  }

  .main-forecast-frame .description {
    border: 1px solid gray;
    margin: 10px auto;
    padding-top: 15px;
    padding-bottom: 10px;
    width: 85%;
    box-shadow: 2px 2px 2px rgb(179, 191, 198);
  }

  .FiveDayForecast .col-sm-3 {
    width: 50%;
    margin: 0 auto;
    margin-bottom: 18px;
    font-size: 18px;
  }

  .five-day-forecast {
    font-size: 18px;
  }

  .WeatherForecastDay .card-title {
    font-size: 16px;
    padding-bottom: 5px;
    padding-top: 5px;
  }
}
